*{
	   		padding: 0px;
	   		margin: 0px;
	   		
}
.naviHeader
{
	   		width: 100%;
	   		background-color: #0e68c5;
	   		height: 70px;
	   		min-width: 1000px;
}
	   		
.naviHeader .title
{
	   		text-align: center;
	   		line-height: 70px;
	   		font-family: "agency fb";
	   		font-size: 25px;
	   		color: white;
}


*{
	padding: 0px;
	margin: 0px;
}
.content{
	width: 1000px;
	background-color: rgb(255,255,255);

	 margin: 0 auto;
     overflow: hidden;
}
.navigationBar
{
	position: fixed;
	background-color: #0090dc;
	width: 100%;
	height: 40px;
	min-width: 400px;
	z-index: 9999;
}
/*.navigationBar p:first-child
{
	float: left;
}
.navigationBar P:last-child
{
	float: right;
}*/
.navigationBar img
{
	
	float: left;
	width: 200px;
	height: 30px;
	margin-top: 5px;
	background-size:100% 100% ;
}
.loginUl{
	list-style: none;
	float: right;
	margin-right: 30px;
}
.loginUl li{
	float: left;
	margin-left: 20px;
	margin-top: 8px;
}
.loginUl li a
{
	text-decoration: none;
	color: #ddd;
	font-family: "微软雅黑";
	font-size: 18px;
}
.loginUl li a:hover
{
	color: white;
}
.title
{
	color: white;
	font-family: "黑体";
	font-weight:100 ;
	font-size: 18px;
	
	height: 40px;
	line-height: 40px;

}


.UITextField
{
	    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
	 width: 300px;
    padding: 9px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
.UIButton
{

				
				    width: 320px;
    height: 40px;
				    
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    background-color: #e6e6e6;
    white-space: nowrap;
    text-decoration: none;
    color: #666666;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
				    color: #ffffff;
    background-color: #2d97f9;
    border-color: #2d97f9;
    font-family: "微软雅黑";
    cursor: pointer;
    margin-top: 20px;
			
}
.userDetailDiv
{
	float: right;
	margin-right: 50px;
	display: none;
}
.userDetailDiv img
{
	width: 30px;
	height: 30px;
	background-size:100% 100%;
	display: inline-block;
	 border-radius:15px;
}
.userDetailDiv p
{
	font-size: 13px;
	color: white;
	font-family: "微软雅黑";
	display: inline-block;
	line-height: 30px;
	margin-top: 5px;
	margin-left: 8px;
}
.userDetailDiv #loginOutSpan
{
	 color: white;
	 font-size: 13px;
	 margin-left:5px;
	 cursor: pointer;
}
